@font-face {
	font-family: "iransans";
	font-weight: 200;
	src: url("../assets/fonts/iransans/iransans-ultra-light.woff") format("woff");
}

@font-face {
	font-family: "iransans";
	font-weight: 300;
	src: url("../assets/fonts/iransans/iransans-light.woff") format("woff");
}

@font-face {
	font-family: "iransans";
	font-weight: 500;
	src: url("../assets/fonts/iransans/iransans.woff") format("woff");
}

@font-face {
	font-family: "iransans";
	font-weight: bold;
	src: url("../assets/fonts/iransans/iransans-bold.woff") format("woff");
}

/*@font-face {
	font-family: 'Yekan';
	src: url('../assets/fonts/Yekan/Yekan.eot');
	src: local(''),
		url('../assets/fonts/Yekan/Yekan.woff') format('woff'),
		url('../assets/fonts/Yekan/Yekan.ttf') format('truetype'),
		url('../assets/fonts/Yekan/Yekan.woff2') format('woff');
	font-weight: normal;
	font-style: normal;
}*/
